@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import "../styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: transparent;
  background-position: center;
  padding: 2rem;
}

.swiper-button-prev {
  background-image: url("../assets/left-arrow.svg");
}

.swiper-button-next {
  background-image: url("../assets/right-arrow.svg");
}

.swiper {
  margin: 0 48px;
  width: 70%;
  position: relative !important;
  display: flex !important;
  right: 0;
  // .swiper-pagination-bullet
  .swiper-pagination-bullet-active {
    background-color: $main-line-color;
  }
}

.swiper-wrapper {
  width: 60%;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;

  img {
    width: 60%;
    height: 60%;
    margin: 15px auto;
  }
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(224, 214, 214, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
