@import "../../styles/_variables.scss";

.manufacturers {
    color: $main-text-color;
    text-align: center;
    padding-top: 80px;

    .title {
        font-size: 28px;
    }

    .brands {
        display: flex;
        margin: 80px 0;
        justify-content: space-between;
        padding: 0 25px;
    }

    .brandBtn {
        width: 30%;
        height: 48px;
        background-color: $main-line-color;
        font-size: 16px;
        color: $white-color;
        border: 2px solid $main-line-color;
        border-radius: 4px;
        margin-bottom: 80px;

        &:hover {
            cursor: pointer;
            background-color: $white-color;
            color: $main-line-color;
        }
    }

    @media only screen and (max-width: 1000px) {
        .brands {
            flex-flow: wrap;
        }
    }
}